/* Provide sufficient contrast against white background */

button {
    width: 189px;
    height: 38px;
    background: #4A9DFF;
    border-radius: 10px;
    margin-top: 10px;
    color: #FFFFFF;
    border: none;
}

body {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: #F9F9F9;
}

div {
    color: #3C5AA8;
}

.header {
    font-weight: bold;
    position: relative;
    font-size: 20px;
    top: 20px;
    left: 20px;
}

.messages {
    position: relative;
    left:40px;
    top: 40px;
    width: 1300px;
    color: green;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
}

.pages {
    position: relative;
    top: 60px;
    left: 40px;
    width: 1300px;
    height: 500px;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
}

.error {
    color: red;
}

.main {
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
    position: absolute;
    left: 20px;
    top: 20px;
    width: 1400px;
    height: 700px;
}

.MuiDataGrid-root
{
    background-color: #FFFFFF;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
    color: #5D6E97;
}

.MuiDataGrid-cellContent {
    color: #5D6E97;
}

.chart {
    height: 60vh;
    position: relative;
    margin-bottom: 1%;
    margin-top: 40px;
    padding: 1%;
    background-color: #FFFFFF;
}

.info {
    position: relative;
    left: 40px;
    top: 20px;
    width: 1200px;
    height: 120px;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
    background-color: #FFFFFF;
    padding-left: 31px;
}

.button {
    margin-left: 20px;
}